.post-description-progress2{
  margin-top: 40px ;
  margin-left: 20%;
  width: 60%;
  background-repeat: no-repeat;
  height: 50px;
  background-size: contain;  
}

.container-symptomes{
  width: 70%;
  margin-bottom: 20px;
  margin-left: 20px;
  border-right: gray solid 2px;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  
}
/* css related to the symptomes */

.container-symptomes-1 {
  display: block;
  position: relative;
  height: 21px;
  padding-top: 4px;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border : solid 2px #4b5779;
  border-radius: 8px;
  background-color:#4b5779;
  color : white;
}


.container-symptomes-1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height:0;
  width: 0;
}
.symptomes-text{
  margin-left: 0;
  margin-right: 15px;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color:#4b5779;
}

.container-symptomes-1 input:checked ~ .checkmark {
  background-color: #4b5779;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container-symptomes-1 input:checked ~ .checkmark:after {
  display: block;
}


.container-symptomes-1 .checkmark:after {
  left: 14px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* end of the css related to the checkbox*/

h5{
  margin-left: 25px;
}

.details-others select {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
  height: 50px;
  color: gray;
  background-color: white;
  line-height:3em;
}

.button-nav1{
  width: 95%;
  display: flex;
  justify-content: flex-end;
 }
 .button-nav1  button{
 width:130px;
 font-weight: bold;
 font-size: 1rem;
 margin-left: 15px;
 margin-top: 10px;
 margin-bottom: 20px;
 height: 40px;
 background:#f5c107;
 border:1px solid #f5c107;
 color:white;
 border: 1px solid #f5c107;
 border-radius: 2px;
 font-family: 'Ubuntu', sans-serif;
 cursor:pointer;
 }


/*Media Querie*/
@media only screen and (max-width : 630px){
  .post-description-progress2{
    display: none;
  }
  .button-nav1{
    display: flex;
    flex-direction: column ; 
    margin-left: 30%;
    width: 100%;
  }   
}