
.nav-container{
  background-color:#4b5779;
  background-size: cover;
  width: 100%;
  height: 70px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-div-image {
  background-color: #2c385c;
  width:200px;
  height: 70px;
  margin-left: 5%;
}

.nav-div-image img{
  width: 200px;
  height:70px;
}

.nav-links{
  align-items: flex-end;
  margin-right:2%;
  align-content: center;
  margin-top: 30px;
}

.nav-link-id{
  color: white;
  background-color: #f5c017;
  padding: 5px;
  margin: 10px;
  border: solid 2px white;
}
.nav-link-id button{
  color: white;
  background-color: #f5c017;
  padding: 5px;
  margin: 20px;
  border: solid 2px white;
