.nav-container{
  background-color:#4b5779;
  background-size: cover;
  width: 100vw;
  height: 50px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-div-image {
  background-color: #2c385c;
  width:20%;
  height: 100%;
  margin-left: 5%;
  padding-left: 5%;
  display: flex;
  justify-content: space-around;
}

.nav-div-image img{
  width: 70%;
  height:100%;
}

.nav-links{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-right:2%;
  align-content: center;
  margin-top: 1.5%;
}

.nav-link-id{
  background:#f5c107;
  border:1px solid #f5c107;
  color:white;
  border-radius: 2px;
  cursor:pointer;
  padding: 5px;
  margin: 10px;
  text-decoration: none;
}

.nav-link-id button{
  color: white;
  background-color: #f5c017;
  padding: 5px;
  margin: 20px;
  border: solid 2px white;
}

.nav-home-icon {
  height: 120%;
}